.App {
  text-align: center;
}

input:invalid {
  border: 4px dashed rgb(184, 21, 21);
}

input:required {
  background: rgba(226, 142, 142, 0.2);
}
/* 
input:valid {
  border: 4px solid green;
  background: rgba(114, 201, 147, 0.2);
} */
